body {
  margin: 0;
}
code {
  white-space: pre;
  line-height: 1.5;
}
label {
  display: inline-block;
}
input[type="number"] {
  width: 4em;
}
.inner {
  padding-inline: 16px;
}
.display {
  display: block;
  width: fit-content;
}
.button-add {
  display: block;
  margin-top: 16px;
}
.button-delete {
  display: inline-block;
}