body {
  margin: 0;
}
code {
  white-space: pre;
  line-height: 1.5;
}
label {
  display: inline-block;
}
input[type="number"] {
  width: 4em;
}
.inner {
  padding-inline: 16px;
}
h2:has(+ .display) {
  margin-bottom: 10px;
}
.display {
  margin: 0;
  display: block;
  width: fit-content;
  padding: 10px 16px;
}
.button-add {
  display: block;
  margin-top: 16px;
}
.button-delete {
  display: inline-block;
}