body {
  margin: 0;
}
code {
  white-space: pre;
}
button {
  display: block;
  margin-top: 1em;
}
label {
  display: inline-block;
}
input[type="number"] {
  width: 4em;
}
section {
  padding-inline: 1em;
}
.section-share {
  padding-bottom: 32px;
}